[package]
name = "moonpool"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
moonpool-foundation = { path = "../moonpool-foundation" }
async-trait = "0.1"
futures = "0.3"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "2.0"
tokio = { version = "1", features = ["sync", "macros", "rt"] }
tracing = "0.1"

[dev-dependencies]
tracing-subscriber = "0.3"
