[package]
name = "moonpool"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
moonpool-core = { path = "../moonpool-core" }
moonpool-sim = { path = "../moonpool-sim" }
moonpool-transport = { path = "../moonpool-transport" }
