[package]
name = "moonpool"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
moonpool-core = { path = "../moonpool-core", version = "0.2.0" }
moonpool-sim = { path = "../moonpool-sim", version = "0.2.0" }
moonpool-transport = { path = "../moonpool-transport", version = "0.2.0" }
